@import "../index.scss";

.window {
	width: 100%;
	max-width: 350px;
	transition: all 0.75s;

	.body {
		border: 2px solid $primary;
		border-bottom: none;
	}

	@media (max-width: 500px) {
		font-size: 14px;
		max-width: 100vw;
		.body {
			border: 2px solid transparent;
		}
	}
}
