@import "../index.scss";

.chat-window {
	position: absolute;
	right: 50px;
	bottom: 0;
	width: 350px;
	height: 50px;
	transition: all 0.75s;
	@media (max-width: 500px) {
		right: 10px;
		width: 100px !important	;
		font-size: 14px;
		.chat-body {
			.body-cont {
				* {
					white-space: nowrap;
				}
			}
		}
	}
}

.visible {
	bottom: 50px;
	height: 500px;
	transition: all 0.5s;
	@media (max-width: 500px) {
		right: 5vw;
		width: 80vw !important;
		.chat-body {
			.body-cont {
				* {
					white-space: unset;
				}
			}
		}
	}
}
