@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

::-webkit-scrollbar {
	position: relative;
	right: 0px;
	top: 100px;
	width: 0.1px !important;
	height: 0;
}
::-webkit-scrollbar-track {
	background-color: darken(white, 25%);
}
::-webkit-scrollbar-thumb {
	background-color: darken(white, 60%);
	border-radius: 5px;
}

:root {
	--primary: hsl(250, 75%, 30%);
	--secondary: hsl(250, 70%, 40%);
	--offwhite: hsl(0, 0%, 95%);
	--lightwhite: hsl(0, 0%, 90%);
	--darkgrey: hsl(0, 0%, 10%);
}

$primary: var(--primary);
$secondary: var(--secondary);
$offwhite: var(--offwhite);
$lightwhite: var(--lightwhite);
$darkgrey: var(--darkgrey);

$MAX: 800px;

@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
	height: 100vh;
}

.nav-btn-cont {
	margin-top: 40px;
}
.faded-underline {
	$bgrad: linear-gradient(
		90deg,
		rgba(89, 180, 58, 1) 0%,
		rgba(139, 69, 252, 1) 50%,
		rgba(253, 29, 29, 1) 100%
	);
	width: 100%;
	text-align: left;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	border-style: solid;
	border-image-slice: 1;
	border-width: 2px;
	border-image-source: linear-gradient(to right, $secondary, #00000000);
	border-left: 0px;
	border-top: 0px;
}
