@import "../../../index.scss";

.faq {
	padding-bottom: 50px;

	.subtitle {
		width: 100%;
		text-align: left;
	}
	.questioning,
	.responding {
		width: 100%;
		max-width: 100%;
	}
	.questioning {
		.question {
			user-select: none;
			cursor: pointer;
			text-align: left;
			width: 100%;
			padding: 5px 2px;
			padding-left: 10px;
			margin-bottom: 5px;
			border-left: 2px solid transparent;
			transition: all 0.2s;

			@media (min-width: 500px) {
				&:hover {
					transition: all 0.2s;
					border-radius: 5px;
					border-top-left-radius: 0px;
					border-bottom-left-radius: 0px;
					border-left: 2px solid $secondary;
					background-color: $offwhite;
				}
			}
		}
	}
	.responding {
		.response {
			text-align: left;
			white-space: pre-line;
		}
		.link {
			margin-top: 10px;
		}
	}
}
