@import "../../../index.scss";

.feedback {
	.textarea-wrap {
		@include flex;
		textarea {
			resize: vertical;
			margin-top: 20px;
			max-width: 200px;
			min-height: 50px;
			max-height: 150px;
			box-shadow: $shadow;
		}
	}
}
