@import "../../index.scss";

.rating {
	.star-cont {
		@include flex;
		width: 100%;
		margin-top: 20px;

		.star {
			font-size: 2rem;
			cursor: pointer;
		}
		color: $secondary;
		.full-star {
			color: $primary;
		}
		.null-star {
			color: $secondary;
		}
	}
}
