@import "../../index.scss";

.rating {
	position: absolute;
	top: 0;
	width: 100%;
	.star-cont {
		@include flex;

		.star {
			font-size: 2rem;
			cursor: pointer;
		}
		color: $secondary;
		.full-star {
			color: $primary;
		}
		.null-star {
			color: $secondary;
		}
	}
}
